<!DOCTYPE html>
<html>
<head>
  <title>Super Fun Game</title>
</head>
<body>
    <h3>Let's play!</h3> 
    <br>
    <form action="/madlib">
        <label>Please enter a person: 
            <input type="text" name="person">
        </label>
        <br>
        <label>Please enter a color:
            <input type="text" name="color">
        </label>
        <br>
        <label>Please enter a noun:
            <input type="text" name="noun">
        </label>
        <br>
        <label>Please choose an adjective:
            <select name="adjective">
                <option value="awesome">awesome</option>    
                <option value="terrific">terrific</option>
                <option value="fantastic">fantastic</option>
                <option value="neato">neato</option>
                <option value="fantabulous">fantabulous</option>
                <option value="wowza">wowza</option>
                <option value="oh-so-not-meh">oh-so-not-meh</option>
                <option value="brilliant">brilliant</option>
            </select>
        </label>
        <input type="submit">
    </form>
</body>
</html>